@font-face {
    font-family: "Sporting Grotesque";
    src: url("../font/Sporting_Grotesque-Bold_web.woff") format("woff");
}

html,
body {
    margin: 0;
    padding: 0;
    color: #111;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

::selection {
    color: #fff;
    background: #111;
}

.hi {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.5vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 0.66em;
}

.text {
    font-family: sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.accent {
    font-family: "Sporting Grotesque", serif;
    font-size: 2vw;
    letter-spacing: -0.02em;
    line-height: 1;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: 1vh;
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.menu > button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    box-sizing: border-box;
    background: transparent;
    z-index: 1;
    overflow: hidden;
    border: 0;
    padding: 0;
}

.menu:hover > button {
    transform: scale(0);
    opacity: 0;
}

.menu > button span {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    clip: rect(0 0 0 0);
}

.menu::after {
    content: "•••";
    display: block;
    padding: 3vh;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu:hover::after,
.menu:focus-within::after {
    transform: scale(0);
    opacity: 0;
}

.menu:hover a,
.menu:focus-within a {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.menu a {
    color: #111;
    padding: 10px 20px;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease,
        color 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(10px, 0, 0);
    text-decoration: none;
    position: relative;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid #fff;
}

.menu a.accent {
    padding: 0.3em 20px 0.1em 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
}

.menu a:focus {
    z-index: 3;
}

.menu a:nth-child(2) {
    transition-delay: 0.05s;
}
.menu a:nth-child(3) {
    transition-delay: 0.1s;
}
.menu a:nth-child(4) {
    transition-delay: 0.15s;
}
.menu a:nth-child(5) {
    transition-delay: 0.2s;
}

.menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #111;
    transition: transform 0.3s ease;
    transform: scaleY(0) translateZ(0);
    z-index: -1;
    transform-origin: bottom;
}

.menu a:hover,
.menu a.active {
    color: #fff;
    transition-delay: 0s !important;
}
.menu a:hover::before,
.menu a.active::before {
    transform: scaleY(1) translateZ(0);
    opacity: 1;
    transform-origin: top;
}

.menu__block {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 2vh;
    right: 2vh;
    padding: 2vh;
    width: calc(14vw + 2vh + 40px);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.75);
    transform-origin: 90% 10%;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid #111;
    align-items: center;
}

.menu:hover .menu__block,
.menu:focus-within .menu__block {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.aic {
    align-items: center;
}

.topic {
    width: 75vw;
    font-size: 4.5vw;
    font-family: "Sporting Grotesque", serif;
    line-height: 1.15em;
    letter-spacing: -0.02em;
}

.helper {
    text-align: center;
    position: fixed;
    bottom: 4vh;
    left: 5vw;
    width: 90vw;
}

.helper span {
    display: inline-block;
    position: relative;
    transform: scale(1);
}

.helper button {
    display: inline;
    white-space: nowrap;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    text-transform: uppercase;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    -webkit-appearance: none;
}

.click {
    transition: transform 0.5s ease;
}

.mask {
    overflow: hidden;
}

span.mask {
    display: inline-flex;
}

.word {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-flex;
}

._is-animated .word {
    transform: translate3d(0, 250%, 0) rotate(15deg);
}

.container:active .click {
    transform: scale(0.8);
    transition-duration: 0.1s;
}

/** taboo **/

.taboo {
    width: 75vw;
    font-size: 6.5vw;
    font-family: "Sporting Grotesque", serif;
    line-height: 1.15em;
    letter-spacing: -0.02em;
    margin-top: 1em;
}

.card__word {
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

.card__list {
    list-style: none;
    font-size: 0.3em;
    margin: 0;
    padding: 0;
    line-height: 1.75em;
}

.card__list .word {
    position: relative;
}

.card__list .word::after {
    content: "";
    position: absolute;
    top: 47%;
    left: -0.75vw;
    right: -0.75vw;
    height: 1px;
    background: #000;
    transform-origin: left;
    transform: scalex(1);
    transition: transform 0.3s ease;
    opacity: 0.5;
}
.card__list .mask:nth-child(1) .word::after {
    transition-delay: 0.8s;
}
.card__list .mask:nth-child(2) .word::after {
    transition-delay: 0.9s;
}
.card__list .mask:nth-child(3) .word::after {
    transition-delay: 1s;
}
.card__list .mask:nth-child(4) .word::after {
    transition-delay: 1.1s;
}
.card__list .mask:nth-child(5) .word::after {
    transition-delay: 1.2s;
}
.card__list .mask:nth-child(6) .word::after {
    transition-delay: 1.3s;
}
.card__list .mask:nth-child(7) .word::after {
    transition-delay: 1.4s;
}
.card__list .mask:nth-child(8) .word::after {
    transition-delay: 1.5s;
}
.card__list .mask:nth-child(9) .word::after {
    transition-delay: 1.6s;
}

._is-animated .card__list .word::after {
    transform: scalex(0);
}

/* about */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 0 3vh 0;
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
}
.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75vw;
    gap: 2vw;
    margin-top: 2vw;
}
.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75vw;
    margin-top: 8vw;
}
.person {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    text-decoration: none;
    border-radius: 30px;
    color: #111;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.person > img {
    display: inline-block;
    transform: translateZ(0);
    width: 100%;
    max-width: 300px;
    z-index: -1;
}
.person::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translateZ(0);
}
.person:hover::after {
    opacity: 0.03;
}
.person:hover > img {
    animation: face 1s ease infinite;
}
.credits {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    margin-bottom: 8vw;
}
.grid_2 a {
    color: #111;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.grid_2 a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #111;
    transform: translateZ(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.grid_2 a:hover::after {
    transform: scaleX(0) translateZ(0);
    transform-origin: right;
}
.text_l {
    font-size: 4.5vw;
    font-family: "Sporting Grotesque", serif;
    line-height: 1.15em;
    letter-spacing: -0.02em;
}

@media (max-width: 767px) {
    .text_l {
        font-size: 8vw;
    }
    .topic {
        width: 90vw;
        font-size: 8vw;
    }
    .taboo,
    .grid_2,
    .grid_3 {
        width: 90vw;
        font-size: 12vw;
    }
    .grid_3,
    .grid_2 {
        grid-template-columns: 1fr;
    }
    .hi {
        font-size: 12vw;
    }
    .helper,
    .text {
        font-size: 11px;
    }
    .accent {
        font-size: 8vw;
    }
    .menu__block {
        width: calc(100vw - 8vh - 2px);
    }
    .credits {
        margin: 10vw 0 20vw 0;
    }
}

@keyframes face {
    0% {
        transform: scale(1) rotate(0);
    }
    25% {
        transform: scale(1.05) rotate(5deg);
    }
    50% {
        transform: scale(1) rotate(0);
    }
    75% {
        transform: scale(1.05) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

/* IE11 bugfix */
@media all and (-ms-high-contrast:none) {

    .menu:after {
        content: none;
    }

    .menu a {
        opacity: 1;
        visibility: visible;
        transform: none;
        border: 0;
        min-height: 0 !important;
        margin-bottom: 5px;
    }

    .menu__block {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        background: rgba(255,255,255,0.5);
        border: 0;
    }

    .grid_3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .grid_3 > a {
        flex-shrink: 0;
    }

    .credits.text {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .credits.text > div:nth-child(odd) {
        width: 10rem;
        margin-bottom: 1rem;
    }

    .credits.text > div:nth-child(even) {
        width: calc(100% - 10rem);
        margin-bottom: 1rem;
    }
}
